nav{
    background:#323946;
}
nav a{
    text-decoration: none;
    padding: .8rem;
    font-size: 1.3rem;
   font-weight: 650;
   color: #e9e1e1;

}
.dropdown{
    padding: .3rem;
    font-size: 1.3rem;
   font-weight: 650;
}
.dropdown a{
    display: flex;
    flex-flow: row ;
}
.brand{
    font-size: 2.3rem;
    color: #45c2e8;
}